/**
 * Personal theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #FFFAFA; }

/*********************************************
 * GLOBAL STYLES bits of these styles come from
 reveald3 css file custom-gc.css. credit for these
 parts document belongs  gc creator of reveald3.
 Copyright is in the node modules directory
 *********************************************/
body section img {
  background: none !important;
  margin-top: 0 !important;
  border: none !important;
  box-shadow: none !important; }

/*********************************************
* TRANSITIONS
*********************************************/
/*Workaround to get back correct behavior
of none-in and none-out*/
section[data-transition*="none-out"].present,
section[data-transition*="none-out"].past {
  transition-duration: 0s !important; }

section[data-transition*="none-in"].future,
section[data-transition*="none-in"].present {
  transition-duration: 0s !important; }

.reveal .slides section .fragment.step-fade-in-then-out {
  opacity: 0;
  display: none; }

.reveal .slides section .fragment.step-fade-in-then-out.current-fragment {
  opacity: 1;
  display: inline; }

/*********************************************
* SPECIAL SLIDE CLASSES
*********************************************/
.title-slide {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  /*background: #7396a1;*/ }

.title-slide.fullwidth div {
  width: 100%; }

.reveal p,
.reveal div p {
  text-align: left;
  font-size: 0.7em; }

.reveal ul,
.reveal div ul,
.reveal p ul {
  font-size: 0.5em; }

section .row:before,
section .row:after {
  content: "";
  display: table;
  clear: both; }

section .row {
  margin: 0.15em 0em; }

section .row *[class*='col-'] {
  box-sizing: border-box;
  position: relative;
  left: 0;
  float: left;
  min-height: 1px;
  padding: 0em 0.15em; }

.col-1 {
  width: 1%; }

.col-2 {
  width: 2%; }

.col-3 {
  width: 3%; }

.col-4 {
  width: 4%; }

.col-5 {
  width: 5%; }

.col-6 {
  width: 6%; }

.col-7 {
  width: 7%; }

.col-8 {
  width: 8%; }

.col-9 {
  width: 9%; }

.col-10 {
  width: 10%; }

.col-11 {
  width: 11%; }

.col-12 {
  width: 12%; }

.col-13 {
  width: 13%; }

.col-14 {
  width: 14%; }

.col-15 {
  width: 15%; }

.col-16 {
  width: 16%; }

.col-17 {
  width: 17%; }

.col-18 {
  width: 18%; }

.col-19 {
  width: 19%; }

.col-20 {
  width: 20%; }

.col-21 {
  width: 21%; }

.col-22 {
  width: 22%; }

.col-23 {
  width: 23%; }

.col-24 {
  width: 24%; }

.col-25 {
  width: 25%; }

.col-26 {
  width: 26%; }

.col-27 {
  width: 27%; }

.col-28 {
  width: 28%; }

.col-29 {
  width: 29%; }

.col-30 {
  width: 30%; }

.col-31 {
  width: 31%; }

.col-32 {
  width: 32%; }

.col-33 {
  width: 33%; }

.col-34 {
  width: 34%; }

.col-35 {
  width: 35%; }

.col-36 {
  width: 36%; }

.col-37 {
  width: 37%; }

.col-38 {
  width: 38%; }

.col-39 {
  width: 39%; }

.col-40 {
  width: 40%; }

.col-41 {
  width: 41%; }

.col-42 {
  width: 42%; }

.col-43 {
  width: 43%; }

.col-44 {
  width: 44%; }

.col-45 {
  width: 45%; }

.col-46 {
  width: 46%; }

.col-47 {
  width: 47%; }

.col-48 {
  width: 48%; }

.col-49 {
  width: 49%; }

.col-50 {
  width: 50%; }

.col-51 {
  width: 51%; }

.col-52 {
  width: 52%; }

.col-53 {
  width: 53%; }

.col-54 {
  width: 54%; }

.col-55 {
  width: 55%; }

.col-56 {
  width: 56%; }

.col-57 {
  width: 57%; }

.col-58 {
  width: 58%; }

.col-59 {
  width: 59%; }

.col-60 {
  width: 60%; }

.col-61 {
  width: 61%; }

.col-62 {
  width: 62%; }

.col-63 {
  width: 63%; }

.col-64 {
  width: 64%; }

.col-65 {
  width: 65%; }

.col-66 {
  width: 66%; }

.col-67 {
  width: 67%; }

.col-68 {
  width: 68%; }

.col-69 {
  width: 69%; }

.col-70 {
  width: 70%; }

.col-71 {
  width: 71%; }

.col-72 {
  width: 72%; }

.col-73 {
  width: 73%; }

.col-74 {
  width: 74%; }

.col-75 {
  width: 75%; }

.col-76 {
  width: 76%; }

.col-77 {
  width: 77%; }

.col-78 {
  width: 78%; }

.col-79 {
  width: 79%; }

.col-80 {
  width: 80%; }

.col-81 {
  width: 81%; }

.col-82 {
  width: 82%; }

.col-83 {
  width: 83%; }

.col-84 {
  width: 84%; }

.col-85 {
  width: 85%; }

.col-86 {
  width: 86%; }

.col-87 {
  width: 87%; }

.col-88 {
  width: 88%; }

.col-89 {
  width: 89%; }

.col-90 {
  width: 90%; }

.col-91 {
  width: 91%; }

.col-92 {
  width: 92%; }

.col-93 {
  width: 93%; }

.col-94 {
  width: 94%; }

.col-95 {
  width: 95%; }

.col-96 {
  width: 96%; }

.col-97 {
  width: 97%; }

.col-98 {
  width: 98%; }

.col-99 {
  width: 99%; }

.col-100 {
  width: 100%; }

/*for tables*/
td {
  font-size: 0.4em !important;
  text-align: center !important; }

th {
  font-size: 0.5em !important;
  text-align: center !important; }

/*Courtesy of trevor beford*/
.citation {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 100;
  font-size: 0.5em !important; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #DEDEE6;
  background-color: #DEDEE6; }

.reveal {
  font-family: "Raleway", sans-seriff;
  font-size: 42px;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  text-align: left;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super;
  font-size: smaller; }

.reveal sub {
  vertical-align: sub;
  font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #2a76dd; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2a76dd; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #DEDEE6; } }
